<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Contiq create opportunity workflow test suite"
	verbose="3">
	
	
	<listeners>
		<listener
			class-name="com.qa.contiq.testlisteners.ExtentReportListener"/>		
	</listeners>

	<test name="Login page">
		<classes>
			<class name="com.qa.contiq.tests.LoginPageTest" />
		</classes>

	</test>

	<test name="Home page">
		<classes>
			<class name="com.qa.contiq.tests.HomePageTest" />
		</classes>

	</test>

	<test name="Create opportunity page">
		<classes>
			<class name="com.qa.contiq.tests.CreateOpportunityPageTest" />
		</classes>

	</test>

</suite>